/* App.css */
.App {
  width: 60vh;
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-image: linear-gradient(to bottom right, #4c669f, #3b5998);
  color: #fff; /* Set text color to white for better contrast */
}

.timeStamp-title {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  align-self: center;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.timestamp-info {
  margin-top: 20px;
}

.timestamp-info h3 {
  margin-bottom: 5px;
}
